<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CloudGaia POM Selenium TestNg Suite" thread-count ="4" parallel = "methods" >
	<test name = "E-Bikes Regression"  verbose="10">
 	 <!--  <groups>
         <run>
            <include name = "Product"/>
            <exclude name = "Orders"/>
            <exclude name ="Account"/>
         </run>
      </groups>  -->
  	 <classes>
  		<class name = "account.VerifyCreateAccount"/>
  		<class name = "product.VerifyCreateProduct"/>
  		<class name = "product.VerifyProductExplorerFilter"/>
  		<class name = "resellerOrder.VerifyCreateOrder"/>
  	 </classes>
    </test> 
</suite> <!-- Sanity_Suite -->
